body {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #dee3ec;
}

main {
    max-width: 150ch;
    width: 100%;
    background-color: white;
    height: 100vh;
}

#test2 form {
    margin-top: 50px;
}
